.button{
    margin: 32px 0;
    padding: 28px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    background-color: #6278f7;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    
}

.button:hover{
    color: #95ffd4;
    transition: ease-in-out 0.5s;
}